<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML FORM</title>
</head>
<body>
<h2>HTML Form</h2>
  <form action="/submit" method ="POST">
    <label for="science">Science</label><br>
    <input type="text" id ="science" name = "science" value="0"><br>
     <label for="maths">maths</label><br>
    <input type="text" id ="maths" name = "maths" value="0"><br>
     <label for="C">C</label><br>
    <input type="text" id ="C" name = "C" value="0"><br>
     <label for="data_science">data_Science</label><br>
    <input type="text" id ="data_science" name = "data_science" value="0"><br>
    <input type="submit" value="Submit">

  </form>

<p>if you click on submit ,a form data will be sent to the page Called "/submit"</p>

</body>
</html>